# SQL EDA on the UCI Breast Cancer Wisconsin Dataset
This notebook loads a public dataset (via scikit-learn), writes it to SQLite, and performs exploratory data analysis using **SQL**.

In [ ]:

import sqlite3
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import load_breast_cancer

# Load dataset
data_bunch = load_breast_cancer(as_frame=True)
df = data_bunch.frame.copy()
df["target_name"] = df["target"].map({i: name for i, name in enumerate(data_bunch.target_names)})
df.columns = [c.strip().lower().replace(" ", "_").replace("(", "").replace(")", "").replace("/", "_") for c in df.columns]
df.insert(0, "id", np.arange(1, len(df) + 1))

# Save CSV (optional)
df.to_csv("breast_cancer_uci.csv", index=False)

# Create SQLite DB
conn = sqlite3.connect("eda_sql.db")
df.to_sql("breast_cancer", conn, index=False, if_exists="replace")

def q(sql, params=None):
    return pd.read_sql_query(sql, conn, params=params)

df.head()

## Basic Shape & Preview

In [ ]:

q("SELECT COUNT(*) AS rows FROM breast_cancer;")

In [ ]:

len(df.columns)

In [ ]:

q("SELECT * FROM breast_cancer LIMIT 5;")

## Null Checks

In [ ]:
SELECT 'id' AS column_name, (COUNT(*) - COUNT([id])) AS null_count FROM breast_cancer UNION ALL SELECT 'mean_radius' AS column_name, (COUNT(*) - COUNT([mean_radius])) AS null_count FROM breast_cancer UNION ALL SELECT 'mean_texture' AS column_name, (COUNT(*) - COUNT([mean_texture])) AS null_count FROM breast_cancer UNION ALL SELECT 'mean_perimeter' AS column_name, (COUNT(*) - COUNT([mean_perimeter])) AS null_count FROM breast_cancer UNION ALL SELECT 'mean_area' AS column_name, (COUNT(*) - COUNT([mean_area])) AS null_count FROM breast_cancer UNION ALL SELECT 'mean_smoothness' AS column_name, (COUNT(*) - COUNT([mean_smoothness])) AS null_count FROM breast_cancer UNION ALL SELECT 'mean_compactness' AS column_name, (COUNT(*) - COUNT([mean_compactness])) AS null_count FROM breast_cancer UNION ALL SELECT 'mean_concavity' AS column_name, (COUNT(*) - COUNT([mean_concavity])) AS null_count FROM breast_cancer UNION ALL SELECT 'mean_concave_points' AS column_name, (COUNT(*) - COUNT([mean_concave_points])) AS null_count FROM breast_cancer UNION ALL SELECT 'mean_symmetry' AS column_name, (COUNT(*) - COUNT([mean_symmetry])) AS null_count FROM breast_cancer UNION ALL SELECT 'mean_fractal_dimension' AS column_name, (COUNT(*) - COUNT([mean_fractal_dimension])) AS null_count FROM breast_cancer UNION ALL SELECT 'radius_error' AS column_name, (COUNT(*) - COUNT([radius_error])) AS null_count FROM breast_cancer UNION ALL SELECT 'texture_error' AS column_name, (COUNT(*) - COUNT([texture_error])) AS null_count FROM breast_cancer UNION ALL SELECT 'perimeter_error' AS column_name, (COUNT(*) - COUNT([perimeter_error])) AS null_count FROM breast_cancer UNION ALL SELECT 'area_error' AS column_name, (COUNT(*) - COUNT([area_error])) AS null_count FROM breast_cancer UNION ALL SELECT 'smoothness_error' AS column_name, (COUNT(*) - COUNT([smoothness_error])) AS null_count FROM breast_cancer UNION ALL SELECT 'compactness_error' AS column_name, (COUNT(*) - COUNT([compactness_error])) AS null_count FROM breast_cancer UNION ALL SELECT 'concavity_error' AS column_name, (COUNT(*) - COUNT([concavity_error])) AS null_count FROM breast_cancer UNION ALL SELECT 'concave_points_error' AS column_name, (COUNT(*) - COUNT([concave_points_error])) AS null_count FROM breast_cancer UNION ALL SELECT 'symmetry_error' AS column_name, (COUNT(*) - COUNT([symmetry_error])) AS null_count FROM breast_cancer UNION ALL SELECT 'fractal_dimension_error' AS column_name, (COUNT(*) - COUNT([fractal_dimension_error])) AS null_count FROM breast_cancer UNION ALL SELECT 'worst_radius' AS column_name, (COUNT(*) - COUNT([worst_radius])) AS null_count FROM breast_cancer UNION ALL SELECT 'worst_texture' AS column_name, (COUNT(*) - COUNT([worst_texture])) AS null_count FROM breast_cancer UNION ALL SELECT 'worst_perimeter' AS column_name, (COUNT(*) - COUNT([worst_perimeter])) AS null_count FROM breast_cancer UNION ALL SELECT 'worst_area' AS column_name, (COUNT(*) - COUNT([worst_area])) AS null_count FROM breast_cancer UNION ALL SELECT 'worst_smoothness' AS column_name, (COUNT(*) - COUNT([worst_smoothness])) AS null_count FROM breast_cancer UNION ALL SELECT 'worst_compactness' AS column_name, (COUNT(*) - COUNT([worst_compactness])) AS null_count FROM breast_cancer UNION ALL SELECT 'worst_concavity' AS column_name, (COUNT(*) - COUNT([worst_concavity])) AS null_count FROM breast_cancer UNION ALL SELECT 'worst_concave_points' AS column_name, (COUNT(*) - COUNT([worst_concave_points])) AS null_count FROM breast_cancer UNION ALL SELECT 'worst_symmetry' AS column_name, (COUNT(*) - COUNT([worst_symmetry])) AS null_count FROM breast_cancer UNION ALL SELECT 'worst_fractal_dimension' AS column_name, (COUNT(*) - COUNT([worst_fractal_dimension])) AS null_count FROM breast_cancer UNION ALL SELECT 'target' AS column_name, (COUNT(*) - COUNT([target])) AS null_count FROM breast_cancer UNION ALL SELECT 'target_name' AS column_name, (COUNT(*) - COUNT([target_name])) AS null_count FROM breast_cancer

In [ ]:

q("SELECT 'id' AS column_name, (COUNT(*) - COUNT([id])) AS null_count FROM breast_cancer UNION ALL SELECT 'mean_radius' AS column_name, (COUNT(*) - COUNT([mean_radius])) AS null_count FROM breast_cancer UNION ALL SELECT 'mean_texture' AS column_name, (COUNT(*) - COUNT([mean_texture])) AS null_count FROM breast_cancer UNION ALL SELECT 'mean_perimeter' AS column_name, (COUNT(*) - COUNT([mean_perimeter])) AS null_count FROM breast_cancer UNION ALL SELECT 'mean_area' AS column_name, (COUNT(*) - COUNT([mean_area])) AS null_count FROM breast_cancer UNION ALL SELECT 'mean_smoothness' AS column_name, (COUNT(*) - COUNT([mean_smoothness])) AS null_count FROM breast_cancer UNION ALL SELECT 'mean_compactness' AS column_name, (COUNT(*) - COUNT([mean_compactness])) AS null_count FROM breast_cancer UNION ALL SELECT 'mean_concavity' AS column_name, (COUNT(*) - COUNT([mean_concavity])) AS null_count FROM breast_cancer UNION ALL SELECT 'mean_concave_points' AS column_name, (COUNT(*) - COUNT([mean_concave_points])) AS null_count FROM breast_cancer UNION ALL SELECT 'mean_symmetry' AS column_name, (COUNT(*) - COUNT([mean_symmetry])) AS null_count FROM breast_cancer UNION ALL SELECT 'mean_fractal_dimension' AS column_name, (COUNT(*) - COUNT([mean_fractal_dimension])) AS null_count FROM breast_cancer UNION ALL SELECT 'radius_error' AS column_name, (COUNT(*) - COUNT([radius_error])) AS null_count FROM breast_cancer UNION ALL SELECT 'texture_error' AS column_name, (COUNT(*) - COUNT([texture_error])) AS null_count FROM breast_cancer UNION ALL SELECT 'perimeter_error' AS column_name, (COUNT(*) - COUNT([perimeter_error])) AS null_count FROM breast_cancer UNION ALL SELECT 'area_error' AS column_name, (COUNT(*) - COUNT([area_error])) AS null_count FROM breast_cancer UNION ALL SELECT 'smoothness_error' AS column_name, (COUNT(*) - COUNT([smoothness_error])) AS null_count FROM breast_cancer UNION ALL SELECT 'compactness_error' AS column_name, (COUNT(*) - COUNT([compactness_error])) AS null_count FROM breast_cancer UNION ALL SELECT 'concavity_error' AS column_name, (COUNT(*) - COUNT([concavity_error])) AS null_count FROM breast_cancer UNION ALL SELECT 'concave_points_error' AS column_name, (COUNT(*) - COUNT([concave_points_error])) AS null_count FROM breast_cancer UNION ALL SELECT 'symmetry_error' AS column_name, (COUNT(*) - COUNT([symmetry_error])) AS null_count FROM breast_cancer UNION ALL SELECT 'fractal_dimension_error' AS column_name, (COUNT(*) - COUNT([fractal_dimension_error])) AS null_count FROM breast_cancer UNION ALL SELECT 'worst_radius' AS column_name, (COUNT(*) - COUNT([worst_radius])) AS null_count FROM breast_cancer UNION ALL SELECT 'worst_texture' AS column_name, (COUNT(*) - COUNT([worst_texture])) AS null_count FROM breast_cancer UNION ALL SELECT 'worst_perimeter' AS column_name, (COUNT(*) - COUNT([worst_perimeter])) AS null_count FROM breast_cancer UNION ALL SELECT 'worst_area' AS column_name, (COUNT(*) - COUNT([worst_area])) AS null_count FROM breast_cancer UNION ALL SELECT 'worst_smoothness' AS column_name, (COUNT(*) - COUNT([worst_smoothness])) AS null_count FROM breast_cancer UNION ALL SELECT 'worst_compactness' AS column_name, (COUNT(*) - COUNT([worst_compactness])) AS null_count FROM breast_cancer UNION ALL SELECT 'worst_concavity' AS column_name, (COUNT(*) - COUNT([worst_concavity])) AS null_count FROM breast_cancer UNION ALL SELECT 'worst_concave_points' AS column_name, (COUNT(*) - COUNT([worst_concave_points])) AS null_count FROM breast_cancer UNION ALL SELECT 'worst_symmetry' AS column_name, (COUNT(*) - COUNT([worst_symmetry])) AS null_count FROM breast_cancer UNION ALL SELECT 'worst_fractal_dimension' AS column_name, (COUNT(*) - COUNT([worst_fractal_dimension])) AS null_count FROM breast_cancer UNION ALL SELECT 'target' AS column_name, (COUNT(*) - COUNT([target])) AS null_count FROM breast_cancer UNION ALL SELECT 'target_name' AS column_name, (COUNT(*) - COUNT([target_name])) AS null_count FROM breast_cancer")

## Class Distribution

In [ ]:

class_dist = q("""
    SELECT target_name, COUNT(*) AS n, ROUND(CAST(COUNT(*) AS FLOAT) * 100.0 / (SELECT COUNT(*) FROM breast_cancer), 2) AS pct
    FROM breast_cancer
    GROUP BY target_name
    ORDER BY n DESC;
""")
class_dist

In [ ]:

plt.figure()
plt.bar(class_dist["target_name"], class_dist["n"])
plt.title("Class Distribution (SQL)")
plt.xlabel("Class")
plt.ylabel("Count")
plt.show()

## Basic Stats per Numeric Column (via SQL)

In [ ]:

numeric_cols = [c for c in df.columns if df[c].dtype != "object" and c not in ("id",)]
rows = []
for col in numeric_cols:
    sql = f"""
    SELECT 
        MIN([{col}]) AS min,
        MAX([{col}]) AS max,
        AVG([{col}]) AS mean,
        AVG([{col}]*[{col}]) - AVG([{col}])*AVG([{col}]) AS variance
    FROM breast_cancer;
    """
    r = q(sql).iloc[0].to_dict()
    r["stddev"] = (r["variance"]) ** 0.5 if pd.notnull(r["variance"]) else None
    r["column"] = col
    rows.append(r)
basic_stats = pd.DataFrame(rows)[["column", "min", "max", "mean", "variance", "stddev"]]
basic_stats.sort_values("column").reset_index(drop=True)

## Feature Means by Class & Top-5 Differences

In [ ]:

feature_means_by_class = q("SELECT target_name, " + ", ".join([f"AVG([{c}]) AS avg_{c}" for c in numeric_cols if c != "target"]) + " FROM breast_cancer GROUP BY target_name;")
feature_means_by_class

In [ ]:

means = feature_means_by_class.set_index("target_name").T
means["abs_diff"] = (means.iloc[:, 0] - means.iloc[:, 1]).abs()
top5_diff = means.sort_values("abs_diff", ascending=False).head(5).reset_index().rename(columns={"index": "feature"})
top5_diff

In [ ]:

plt.figure()
plt.bar(top5_diff["feature"], top5_diff["abs_diff"])
plt.title("Top-5 Features by Mean Difference Between Classes")
plt.xticks(rotation=45, ha="right")
plt.ylabel("Absolute Mean Difference")
plt.show()

## Quartile Binnings (SQL thresholds)

In [ ]:

def quartiles(series):
    return np.quantile(series, [0.25, 0.5, 0.75])
binnings_list = []
for feature in ["mean_radius", "mean_texture"]:
    q1, q2, q3 = quartiles(df[feature])
    sql = f"""
        SELECT '{feature}' AS feature,
               SUM(CASE WHEN {feature} <= {q1} THEN 1 ELSE 0 END) AS q1_and_below,
               SUM(CASE WHEN {feature} > {q1} AND {feature} <= {q2} THEN 1 ELSE 0 END) AS q2,
               SUM(CASE WHEN {feature} > {q2} AND {feature} <= {q3} THEN 1 ELSE 0 END) AS q3,
               SUM(CASE WHEN {feature} > {q3} THEN 1 ELSE 0 END) AS above_q3
        FROM breast_cancer;
    """
    binnings_list.append(q(sql))
pd.concat(binnings_list, ignore_index=True)